.leaflet-control-import-shp a {
    background:#fff url("images/upload.png") no-repeat 5px;
    background-size:16px 16px;
    display: block;
}

.leaflet-touch .leaflet-bar-part-single {
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    border-bottom: none;
}

.fileUploader {
    display: none!important;
}

